@import "reset";

*{
   box-sizing: border-box;
}


html{
   font-size: 14px;
}

body{
   background-color: #3a3a3a;
   background-image: url(../img/background.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;

   display: -webkit-flex;
   display: -ms-flex;
   display: flex;
   flex-direction: column;

   font-family: sans-serif;
}

input, button{
   border: none;
   border-radius: 0;
   padding: 0;
   margin: 0;
   background: none;
   outline: none;
}

.header{
   flex-shrink: 0;
   padding: 10px;
   text-align: center;
}

.logo{
   width: 300px;
}

.main{
   flex-grow: 1;
   padding: 0 10px;
}

.buildings {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    font-size: 0;
    &__item {
      width: 100%;
      color: #fff;
      padding: 10px;
      flex-shrink: 0;
      display: inline-block;
      vertical-align: top;
      font-size: 14px;

      @media (min-width: 576px){
        width: 100 / 2 * 1%;
        max-width: 100 / 2 * 1%;
        flex-basis: 100 / 2 * 1%;
      }
      @media (min-width: 768px){
        width: 100 / 2 * 1%;
        max-width: 100 / 2 * 1%;
        flex-basis: 100 / 2 * 1%;
      }
      @media (min-width: 992px){
        width: 100 / 3 * 1%;
        max-width: 100 / 3 * 1%;
        flex-basis: 100 / 3 * 1%;
      }
    }
    &__name {
      text-align: center;
      padding: 8px 4px;
      font-weight: bold;
      margin-bottom: 5px;
      border-radius: 4px;
      background: rgba(5, 178, 249, 0.7);
    }
    &__table{
        display: table;
        border-radius: 5px;
        border-collapse: collapse;
        overflow: hidden;
        text-align: center;
        background: rgba(0,0,0,.7);
        width: 100%;
        &-header,
        &-footer {
            background: rgba(0,0,0,0.7);
            .buildings__table-cell {
                padding: 10px 2px;
            }
        }

        &-header{
            display: table-header-group;
        }

        &-footer {
            display: table-footer-group;
        }

        &-cell {
            display: table-cell;
            padding: 4px 0;
            vertical-align: middle;
            text-align: center;
        }
        &-row {
            display: table-row;
            &:nth-child(even) {
                background: rgba(10, 180, 248, 0.1);
            }
        }
        &-body {
            display: table-row-group;
        }
   }
   &__estimate {
       background: rgba(0, 0, 0, 0.7);
       margin-top: 5px;
       padding: 1px;
       border-radius: 5px;
   }
}

.estimate{
   &__label{
      display: block;
      margin: 5px 10px;
   }
   &__text{
      margin-right: 5px;
      display: inline-block;
      margin-bottom: 2px;
   }
   &__arrow {
       font-weight: bold;
       font-size: 20px;
       display: inline-block;
   }
   &__input {
       width: 60px;
       color: #fff;
       border-radius: 4px;
       padding: 5px 10px;
       margin: 2px 0;
       background: rgba(10, 180, 248, 0.3);
       &--count{
          width: 75px;
       }
   }
   &__submit {
       background: rgba(10,180,248,0.6);
       color: #fff;
       padding: 5px 10px;
       margin: 10px;
       border-radius: 4px;
   }
}

.preview{
    position: relative;
    cursor: pointer;
    margin: 3px;
    font-size: 0;
    width: 35px;
    min-width: 35px;
    height: 25px;
    display: inline-block;
    &__image{
       width: 35px;
       min-width: 35px;
       height: auto;
    }
}


.footer{
   margin-top: 20px;
   flex-shrink: 0;
}

.copyright{
   padding: 7px 10px;
   background: rgba(255, 255, 255, 0.1);
   text-align: center;
   color: #fff;
}
